Hello, #{@ta['name']}!

A little birdy told us that you lost your private sign up page. Here it is!

http://gdichicago.herokuapp.com/sign_ups/#{@ta['private_id']}

=================

This email was sent because you signed up with GDI Chicago as a volunteer TA.

To remove yourself from the list, visit your private sign up page and mark yourself as inactive.