- course.teaching_assistants.each do |ta|
  %ul.inline
    %li
      = ta.name
      (
      = ta.signed_up_for(course)
      )
    %li
      = link_to icon_delete + ' Delete', hour_path(course.hour_for(ta)), title: "Remove from course", method: :delete, class: 'badge warning'
      = link_to icon_link_out + ' View', teaching_assistant_path(ta), title: "View TA profile", class: 'badge default'