button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


button.light-red,
input[type="submit"].light-red {
  @include button($button-style, $light-red);
}