$fontSize: 1em;
$fontFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Colors
$background: #FFFFF3;
$text: #333333;
$primary: #E64C66;
$secondary: #1BBC9B;
$tertiary: lighten($text, 50%);

// Margins and padding
$padding: 20px;
$margin: 10px;
$microPadding: $padding/2;
$microMargin: $margin/2;
$largePadding: $padding * 2;
$largeMargin: $margin * 2;
$jumboPadding: $padding * 4;
$jumboMargin: $margin * 4;