@import "../helpers/var";

@mixin fontStack($size: $fontSize, $weight: 400) {
  font: {
    family: $fontFamily;
    size: $size;
    weight: $weight;
  }
  color: $text;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  @include fontStack;
  line-height: 120%;
}

h1, h2, h3 {
  font-weight: 800;
}

h3 {
  color: $primary;
  text-transform: uppercase;
}

h4 {
  color: $secondary;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: $tertiary;
  &:hover {
    color: $primary;
  }
}