%ul
  %li.first GDI Chicago
  %li= link_to 'Dashboard', admins_dashboard_path
  %li= link_to 'New series', new_series_path
  %li= link_to 'New course', new_course_path
  %li= link_to 'New TA', new_teaching_assistant_path