%h4 Symbol Legend

%ul.long
  %li
    %b= icon_delete
    Remove TA from course (will also remove credit hours from balance)
  %li
    %b= icon_book
    Change status from TA to student (will deduct hours from balance)
  %li
    %b= icon_history
    Change status from student to TA (will add hours to balance)
