%h1
  Hello!
%p
  A new teaching assistant has registered with the system. Please login to review their application.

%p.center
  %a.button{href: "http://gdichicago.herokuapp.com/dashboard"} GDI Chicago Admin Dashboard

%h3 TA: #{@ta['name']}
