.card-stats
  %ul
    %li
      = course.credit_hours
      %span Credit hours
    %li
      = course.num_tas_needed
      %span TAs required
    %li
      = course.num_tas_still_needed
      %span Still needed
