article {
  border: lighten($tertiary, 20%) 1px solid;
  padding: 1%;
  margin: 1%;
  float: left;

  &.single_day {
    width: 45%;
    &:nth-child(3n) {
      clear: both;
    }
  }

  &.ta_list {
    width: 29%;
    &:nth-child(3n) {
      clear: both;
    }
  }
}


@media all and (max-width: 960px) {
  article.single_day {
    width: 95%;
  }
  article.ta_list {
    width: 45%;
    &:nth-child(2n) {
      clear: both;
    }
  }
}

@media all and (max-width: 675px) {
  article.ta_list {
    width: 95%;
  }
}

.clear {
  clear: both;
}


.right {
  float: right;
}