%h3 All Upcoming Courses

%h4 Single Day Workshops
.cards
  - @courses.each do |course|
    = render partial: 'refills/card', locals: { course: course }


%table
  %tr
    %th
    %th Name & Location
    %th Date & Time
    %th Credit
    %th Meetup

  - @courses.each do |course|
    = render partial: 'shared/course_row', locals: { course: course }

.line__secondary

%h4 Multi-Day Workshops

- @series.each do | series|

  %h5= series.name

  %table
    %tr
      %th
      %th Name & Location
      %th Date & Time
      %th Credit
      %th Meetup

    - series.courses.each do |course|
      = render partial: 'shared/course_row', locals: { course: course }
