%script{ type: 'text/x-handlebars' }
  {{ outlet }}

/ %h3= @course.name

/ - if notice
/   %p#notice= notice

/ .cards
/   .cards-large
/     - if is_admin?
/       = render partial: 'refills/course_card/admin', locals: { course: @course }
/     - else
/       = render partial: 'refilles/course_card/default', locals: { course: @course }

/ %h4 Description

/ = raw @course.description
