.button {
  padding: $microPadding/3 $microPadding;
}

.button_rounded {
  @extend .button;
  border-radius: 10px;
}

.button_rounded__secondary {
  @extend .button_rounded;
  background-color: lighten($secondary, 35%);
}

.button_rounded__primary {
  @extend .button_rounded;
  background-color: lighten($primary, 35%);
}