#header {
  text-align: center;
  margin-top: 12%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: dotted 1px $base-secondary-color;
  h1 {
    color: $base-accent-color;
    font-size: $base-font-size * 4;
    font-weight: 300;
  }
}
