.line {
  width: 100%;
  height: $microMargin;
  margin: $jumboMargin auto;
}

.line_jumbo {
  @extend .line;
  height: $jumboMargin;
}

.line_skinny {
  @extend .line;
  height: $microMargin/2;
}

.line_very_skinny  {
  @extend .line;
  height: $microMargin/2;
  margin: $margin auto;
}

.line__secondary {
  @extend .line;
  background-color: $secondary;
}

.line_skinny__secondary {
  @extend .line_skinny;
  background-color: $secondary;
}
