%h3 Series

.line__secondary

%table
  %tr
    %th Show
    %th Name
    %th Date
    %th Courses
  - @series.each do |series|
    %tr
      %td= link_to icon_link_out, series_path(series)
      %td= series.name
      %td= series.pretty_end_date
      %td= series.courses.count