%h3 Series

.line__secondary

%ul.long
  - @series.each do |series|
    %li
      = link_to icon_link_out + ' View series details', series_path(series), class: 'badge default left_margin'
      = series.name
      (#{series.pretty_end_date}, #{series.courses.count} sessions)