%h3 Series: Upcoming Multi-Day Courses

- @series.each do |series|
  %h4= series.name
  .cards
    - series.courses.sort_by(&:date).each do |course|
      = render partial: 'refills/course_card/default', locals: { course: course }