%h3
  = @series.name

%h4
  End date:
  = @series.pretty_end_date

.cards
  .cards-large
    - @series.courses.each do |course|
      - if is_admin?
        = render partial: 'refills/course_card/admin', locals: { course: course }
      - else
        = render partial: 'refills/course_card/default', locals: { course: course }

