%h3
  %span.float_right.badge.default
    Ends:
    = @series.pretty_end_date
  = @series.name

.line__secondary

- @series.courses.each do |course|
  = render partial: "admins/course", locals: { course: course }