%h3 Teaching Assistants

%p To view hour balances and history, view the individual TA.

.line__secondary

%table
  %tr
    %th Status
    %th Name
    %th Actions
  - @teaching_assistants.each do |teaching_assistant|
    %tr
      %td
        %span.badge{class: teaching_assistant.status.label}
          = teaching_assistant.status.label
      %td= teaching_assistant.name
      %td= render partial: 'action_badge', locals: { teaching_assistant: teaching_assistant }
