%h3 Teaching Assistants

.line__secondary

- @teaching_assistants.each do |teaching_assistant|
  %article.single_day
    %p.float_right
      %span.badge{class: teaching_assistant.status.label}
        = teaching_assistant.status.label
    %h5
      = teaching_assistant.name
      = render partial: 'action_badge', locals: { teaching_assistant: teaching_assistant }
    %p
      Credit hour balance:
      = teaching_assistant.balance
